footer,push {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 10px 50px;
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
    margin-bottom: -50px;
}

footer::after{
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 15%, transparent 50%, transparent 85%, rgba(255,255,255,0.3) 100%);
    border-radius: 10px;
    box-shadow: 0 10px 50px;
    margin: auto;
}

.section{
    display: flex;
    flex-wrap: wrap;
}

.about{
    display: flex;
    flex: 1.5;
    /* background-color: blueviolet; */
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    margin-right: 40px;
}

.logo{
    display: flex;
}
/* 
.logo h1{
    margin-bottom: -50px;
} */

.laflix-logo{
    height: 70px;
    margin-top: -16px;
    margin-left: -17px;
}

.text{
    text-align: justify;
}

.link{
    display: flex;
    flex: 0.5;
    /* background-color: aqua; */
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    /* margin-right: -40px; */
}

.link li{
    margin-bottom: 20px;
}

.social{
    display: flex;
    flex: 1;
    /* background-color: burlywood; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: -40px; */
}

.store{
    margin-bottom: 30px;
}
.store img{
    height: 70px;
    margin-right: 10px;
}

.social-media img {
    height: 50px;
    margin-right: 5px;
}

.footer-bottom{
    text-align: center;
}